.restaurant {
  text-align: center;

  &__info {
    margin-bottom: 3rem;

    p {
      line-height: 1.6;
      margin-bottom: 2.4rem;
    }
  }

  &__image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: $break-small) {
}

@media screen and (min-width: $break-medium) {
  .restaurant {
    display: flex;
    align-items: center;

    & > div {
      flex: 1;
    }

    .padding-right {
      padding-right: 7rem;
    }
  }
}

@media screen and (min-width: $break-large) {
}
