// Colors
$clr-font-dark: #252525;
$clr-font-secondary: #c59d5f;
$clr-font-body: #515151;

// Typo
$main-font: "Source Sans Pro", sans-serif;
$secondary-font: "Herr Von Muellerhoff", cursive;
$body-font: "Cabin", sans-serif;

// Media queries
$break-small: 400px;
$break-medium: 768px;
$break-large: 1200px;
