// Colors
$clr-primary: #252525;
$clr-primary-300: #515151;
$clr-secondary: #c59d5f;

// Typo
$main-font: "Source Sans Pro", sans-serif;
$secondary-font: "Herr Von Muellerhoff", cursive;
$body-font: "Cabin", sans-serif;

// Media queries
$break-small: 400px;
$break-medium: 768px;
$break-large: 1200px;
